<div class="container mt-3">
    <div class="jumbotron">
    <h1>Lista de Productos</h1>
    {{#if products}}
        <table class="table table-striped">
            <tr>
            <th>Titulo</th>
            <th>Precio</th>
            <th>Imagen</th>
            </tr>
            {{#each products}}
                <tr>
                <td>{{title}}</td>
                <td>{{price}}</td>
                <td style="width:25%;"><img src={{image}} style="width:8%;" alt="Imagen"></td>
                </tr>
            {{/each}}
        </table>
    {{^}}
        <h4
            style="
            color: red;
            background-color: yellow;
            position: relative;
            width: 25%;
            height: 50px;
            "
        >
            No hay productos para mostrar
        </h4>
    {{/if}}
    <a
        href="/"
        type="button"
        class="btn btn-primary mt-3 mx-3"
        >ir al formulario</a
    >
    </div>
</div>
